@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital,wght@1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  background-image: url(/assets/cat-wallpaper.jpg);
  background-repeat: repeat;
  background-size: cover;
}

.main {
  display: flex;
  margin: 123px 0px 0px 94px;
  width: 400px;
  height: 400px;
  background-color: aliceblue;
  border-radius: 15px;
  border: 2px solid black;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.9);
  padding: 20px;
}

h1 {
  position: fixed;
  left: 16.8rem;
  top: 10rem;
  color: rgb(123, 223, 223);
}

.form-input {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.email-input,
.password-input {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.email,
.password {
  padding: 8px 40px 8px 40px;
  border-radius: 10px;
  border: 1px solid black;
}

.email,
.password:invalid {
  border: 2px solid red;
}

.email,
.password:valid {
  border: 1px solid black;
  outline: inherit;
  border-radius: inherit;
}

.button-login {
  color: black;
  font-size: 18px;
  font-weight: 700;
  color: #f1f0f0;
  text-shadow: 1px 1px #000000;
  background-color: rgb(188, 236, 220);
  border-radius: 20px;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid black;
}

.button-login:hover {
  background-color: blanchedalmond;
  color: #f8920d;
  text-shadow: 1px 1px #000000;
  cursor: pointer;
}

.button-login span {
  display: flex;
  justify-content: center;
}

.daftar-disini {
  margin-top: 13px;
  margin-left: 14px;
}

.daftar-disini a {
  text-decoration: none;
  font-weight: 700;
  color: rgb(123, 223, 223);
}

.daftar-disini a:hover {
  color: #f8920d;
}
